<div class="info-card">
  <div class="info-card__title">
    <div class="d-flex align-items-center gap-2">
      <div class="mat-icon--with-bg">
        <mat-icon>backup</mat-icon>
      </div>
      Disaster Recovery
    </div>
    <div>
      <span [matTooltip]="disabled() ? disabledTooltip() : ''" matTooltipPosition="above">
        <mat-slide-toggle [(ngModel)]="active" [disabled]="disabled()"></mat-slide-toggle>
      </span>
    </div>
  </div>

  <div class="info-card__content info-card__content--multi-block">
    <div class="info-card__block">
      <span>
        <i>Run the control plane on a dedicated datastore so the cluster can be recovered after a disaster.</i>
      </span>
    </div>
    @if (disabled() && disabledTooltip()) {
      <div class="info-card__block">
        <span class="color-warn">
          <i>
            <strong>Warning:</strong> {{ disabledTooltip() }}. The field has been reset to its original value.
          </i>
        </span>
      </div>
    }
  </div>
</div>
