<div class="product-create main-content">
  <spx-content-header navBack title="Create Subnet"></spx-content-header>

  <div class="product-create__scrollable">
    <mat-stepper class="product-create__form-stepper" linear labelPosition="bottom" #stepper>
      <!-- STEP 1 - GENERAL INFORMATION -->
      <mat-step [stepControl]="firstFormGroup" errorMessage="Form invalid.">
        <form [formGroup]="firstFormGroup">
          <ng-template matStepLabel>General Information</ng-template>
          <ng-template matStepContent>
            <spx-step-general [formGroup]="firstFormGroup" (azChange)="azChange($event)"></spx-step-general>

            <div class="info-card">
              <div class="info-card__title">
                <div class="d-flex align-items-center gap-2">
                  <div class="mat-icon--with-bg">
                    <mat-icon>network_manage</mat-icon>
                  </div>
                  Network options
                </div>
              </div>
              <div class="info-card__content info-card__content--space-evenly">
                <div class="info-card__item">
                  <h3>Private Network</h3>
                  <span><i>Define if the network is private or not.</i></span>
                  <p><mat-checkbox formControlName="private">Make the network private</mat-checkbox></p>
                </div>

                <div class="info-card__item">
                  <h3>NAT Gateway</h3>
                  <span> <i> Enabling the NAT Gateway allows to add an EIP later. </i> </span>
                  <p><mat-checkbox formControlName="natGateway">Enable NAT gateway</mat-checkbox></p>
                </div>
              </div>
            </div>

            <div class="product-create__step-buttons product-create__step-buttons--justify-end">
              <button matButton="filled" matStepperNext>
                Next <mat-icon iconPositionEnd>arrow_forward_ios</mat-icon>
              </button>
            </div>
          </ng-template>
        </form>
      </mat-step>

      <!-- STEP 2 - SPECIFICATIONS -->
      <mat-step [stepControl]="secondFormGroup" errorMessage="Form invalid.">
        <ng-template matStepLabel>Specifications</ng-template>
        <ng-template matStepContent>
          <form [formGroup]="secondFormGroup">
            <div class="info-card">
              <div class="info-card__title">
                <div class="d-flex align-items-center gap-2">
                  <div class="mat-icon--with-bg">
                    <mat-icon>network_manage</mat-icon>
                  </div>
                  Spécifications
                </div>
              </div>
              <div class="info-card__content info-card__content--space-evenly">
                <mat-form-field class="info-card__item info-card__item--form">
                  <mat-label>VPC Selection</mat-label>
                  <mat-select formControlName="vpcEId">
                    @for (vpc of vpcResource.value(); track $index) {
                      <mat-option [value]="vpc.eid">
                        {{ vpc.productName }}
                      </mat-option>
                    }
                  </mat-select>
                </mat-form-field>

                <mat-form-field class="info-card__item info-card__item--form">
                  <mat-label>Protocol selection</mat-label>
                  <mat-select formControlName="protocol" #selectProtocol>
                    @for (p of ProtocolList; track $index) {
                      <mat-option [value]="p"> {{ p }} </mat-option>
                    }
                  </mat-select>
                </mat-form-field>
              </div>
            </div>

            <div class="info-card">
              <div class="info-card__title">
                <div class="d-flex align-items-center gap-2">
                  <div class="mat-icon--with-bg">
                    <mat-icon>network_manage</mat-icon>
                  </div>
                  Ip Configuration
                </div>
              </div>
              <div class="info-card__content info-card__content--space-evenly">
                @if (selectProtocol.value !== ProtocolEnum.IPv6) {
                  <mat-form-field class="info-card__item info-card__item--form">
                    <mat-label>CIDR IPv4</mat-label>
                    <input matInput formControlName="ipv4" placeholder="10.10.0.0/16" />
                  </mat-form-field>
                }
                @if (selectProtocol.value !== ProtocolEnum.IPv4) {
                  <mat-form-field class="info-card__item info-card__item--form">
                    <mat-label>CIDR IPv6</mat-label>
                    <input matInput formControlName="ipv6" placeholder="fd00:10:10::/64" />
                  </mat-form-field>
                }
              </div>
            </div>

            <div class="info-card">
              <div class="info-card__title">
                <div class="d-flex align-items-center gap-2">
                  <div class="mat-icon--with-bg">
                    <mat-icon>network_manage</mat-icon>
                  </div>
                  DNS options
                </div>

                <div>
                  <mat-slide-toggle formControlName="showDnsOptions"></mat-slide-toggle>
                </div>
              </div>
              @if (secondFormGroup.get('showDnsOptions')?.value === true) {
                <div class="info-card__content info-card__content--space-evenly">
                  @if (selectProtocol.value !== ProtocolEnum.IPv6) {
                    <mat-form-field class="info-card__item info-card__item--form">
                      <mat-label>DNS Server IPv4</mat-label>
                      <input matInput formControlName="dnsV4" placeholder="1.1.1.1" />
                    </mat-form-field>
                  }
                  @if (selectProtocol.value !== ProtocolEnum.IPv4) {
                    <mat-form-field class="info-card__item info-card__item--form">
                      <mat-label>DNS Server IPv6</mat-label>
                      <input matInput formControlName="dnsV6" placeholder="2606:4700:4700::1111" />
                    </mat-form-field>
                  }
                </div>
              }
            </div>
          </form>

          <div class="product-create__step-buttons">
            <button matButton="outlined" matStepperPrevious>Back <mat-icon>arrow_back_ios</mat-icon></button>
            <button matButton="filled" [disabled]="!firstFormGroup.valid || !secondFormGroup.valid" (click)="create()">
              Create
            </button>
          </div>
        </ng-template>
      </mat-step>
    </mat-stepper>
  </div>
</div>
