<div class="product-list main-content">
  <div class="product-list__header">
    <spx-content-header titleOnly title="Backup"></spx-content-header>

    <div class="product-list__header-create-btn">
      <a matButton="filled" ariaLabel="Button to create a BaaS" [routerLink]="['create']">
        <mat-icon>add</mat-icon>
        Create BaaS
      </a>
    </div>
  </div>

  <spx-product-list-filter
    [refreshInterval]="refreshInterval()"
    (refreshIntervalChange)="lss.setValue(BAAS_REFRESH_KEY, $event.toString())"
    (needReload)="reloadData()"
    (filter)="filterValue.set($event)"></spx-product-list-filter>

  <div class="product-list__table">
    @if (baasProduct.isLoading() || baasProduct.status() === 'error') {
      <div class="product-list__table-loading-shade">
        @if (baasProduct.isLoading()) {
          <mat-spinner></mat-spinner>
        }
        @if (baasProduct.status() === 'error') {
          <div class="product-list__table-error">Failed to fetch products</div>
        }
      </div>
    }

    <spx-product-table-wrapper [dataSource]="dataSource()" [columns]="displayedColumns">
      <ng-container matColumnDef="scope">
        <mat-header-cell *matHeaderCellDef> Backup Scope </mat-header-cell>
        <mat-cell *matCellDef="let el"> {{ el.scope }}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="type">
        <mat-header-cell *matHeaderCellDef> Backup Type </mat-header-cell>
        <mat-cell *matCellDef="let el"> {{ el.type }}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="lastBackup">
        <mat-header-cell *matHeaderCellDef> Last Backup </mat-header-cell>
        <mat-cell *matCellDef="let el"> {{ el.lastBackup | date }}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="actions" stickyEnd>
        <mat-header-cell *matHeaderCellDef class="mat-column-actions--double-btn"></mat-header-cell>
        <mat-cell *matCellDef="let el" class="mat-column-actions--double-btn">
          <a matIconButton [routerLink]="['details', el.data.codeAZ, el.data.eid]" aria-label="Open Details button">
            <mat-icon class="icon-accent">visibility</mat-icon>
          </a>
          <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Action menu">
            <mat-icon>more_horiz</mat-icon>
          </button>

          <mat-menu #menu="matMenu">
            @if (el.data.gitops !== 'true' && canProjectBaaSWrite()) {
              <a mat-menu-item aria-label="Edit BaaS button" [routerLink]="['update', el.data.codeAZ, el.data.eid]">
                <mat-icon>edit</mat-icon>
                Edit
              </a>

              @if (el.type === 'Schedule') {
                <button mat-menu-item aria-label="Change State" (click)="changeScheduleState(el.data)">
                  <mat-icon>{{ el.data.backup?.schedule?.spec?.paused ? 'play_arrow' : 'pause' }}</mat-icon>
                  {{ el.data.backup?.schedule?.spec?.paused ? 'Resume' : 'Pause' }}
                </button>
              }
            }

            @if (canProjectArgoCdRead()) {
              <mat-divider></mat-divider>
              <button mat-menu-item aria-label="See in ArgoCD" (click)="openArgoCD(el.data)">
                <mat-icon>open_in_new</mat-icon>
                See in ArgoCD
              </button>
            }

            @if (el.data.gitops !== 'true' && canProjectBaaSWrite()) {
              <mat-divider></mat-divider>
              <button mat-menu-item aria-label="Delete BaaS button" (click)="deleteBaaS(el.data)">
                <mat-icon>delete</mat-icon>
                Delete
              </button>
            }
          </mat-menu>
        </mat-cell>
      </ng-container>

      <tr class="d-flex mat-mdc-row" *matNoDataRow>
        <td class="mat-mdc-cell d-flex flex-grow align-items-center justify-content-center">
          No product found in this project.
        </td>
        <td class="mat-mdc-cell mat-column-actions mat-column-actions--empty mat-column-actions--double-btn"></td>
      </tr>

      <mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
    </spx-product-table-wrapper>
  </div>
</div>
