<div class="product-create main-content">
  <spx-content-header navBack titleOnly title="Edit a Security Group"></spx-content-header>

  <div class="product-create__scrollable">
    <mat-stepper class="product-create__form-stepper" linear labelPosition="bottom" #stepper>
      <!-- STEP 1 - GENERAL INFORMATION -->
      <mat-step [stepControl]="firstFormGroup" errorMessage="Form invalid.">
        <form [formGroup]="firstFormGroup">
          <ng-template matStepLabel>General Information</ng-template>
          <ng-template matStepContent>
            <spx-step-general [formGroup]="firstFormGroup" [showAz]="false"></spx-step-general>

            <div class="info-card">
              <div class="info-card__title">
                <div class="d-flex align-items-center gap-2">
                  <div class="mat-icon--with-bg">
                    <mat-icon>description</mat-icon>
                  </div>
                  Description
                </div>
              </div>
              <div class="info-card__content">
                <mat-form-field class="info-card__item info-card__item--form">
                  <mat-label>Security Group Description</mat-label>
                  <textarea matInput formControlName="description" placeholder="Security group description"></textarea>
                </mat-form-field>
              </div>
            </div>

            <div class="product-create__step-buttons product-create__step-buttons--justify-end">
              <button matButton="filled" matStepperNext>
                Next <mat-icon iconPositionEnd>arrow_forward_ios</mat-icon>
              </button>
            </div>
          </ng-template>
        </form>
      </mat-step>

      <!-- STEP 2 - TARGET -->
      <mat-step errorMessage="Form invalid.">
        <ng-template matStepLabel>Target Selection</ng-template>
        <ng-template matStepContent>
          @if (isLoaded()) {
            <spx-security-group-target-form
              [initTarget]="initSpec().target"
              (targetChange)="target.set($event)"
              (isValid)="isTargetValid.set($event)"></spx-security-group-target-form>
          }

          <div class="product-create__step-buttons">
            <button matButton="outlined" matStepperPrevious>Back <mat-icon>arrow_back_ios</mat-icon></button>
            <button matButton="filled" matStepperNext>
              Next <mat-icon iconPositionEnd>arrow_forward_ios</mat-icon>
            </button>
          </div>
        </ng-template>
      </mat-step>

      <!-- STEP 3 - INGRESS RULES -->
      <mat-step errorMessage="Form invalid.">
        <ng-template matStepLabel>Ingress</ng-template>
        <ng-template matStepContent>
          @if (isLoaded()) {
            <spx-security-group-ingress-form
              [initRules]="initSpec().ingress"
              (rulesChange)="ingressRules.set($event)"
              (isValid)="isIngressValid.set($event)"></spx-security-group-ingress-form>
          }

          <div class="product-create__step-buttons">
            <button matButton="outlined" matStepperPrevious>Back <mat-icon>arrow_back_ios</mat-icon></button>
            <button matButton="filled" matStepperNext>
              Next <mat-icon iconPositionEnd>arrow_forward_ios</mat-icon>
            </button>
          </div>
        </ng-template>
      </mat-step>

      <!-- STEP 4 - EGRESS RULES -->
      <mat-step errorMessage="Form invalid.">
        <ng-template matStepLabel>Egress</ng-template>
        <ng-template matStepContent>
          @if (isLoaded()) {
            <spx-security-group-egress-form
              [initRules]="initSpec().egress"
              (rulesChange)="egressRules.set($event)"
              (isValid)="isEgressValid.set($event)"></spx-security-group-egress-form>
          }

          <div class="product-create__step-buttons">
            <button matButton="outlined" matStepperPrevious>Back <mat-icon>arrow_back_ios</mat-icon></button>
            <button
              matButton="filled"
              [disabled]="!firstFormGroup.valid || !isTargetValid() || !isIngressValid() || !isEgressValid()"
              (click)="update()">
              Update
            </button>
          </div>
        </ng-template>
      </mat-step>
    </mat-stepper>
  </div>
</div>
