@use '@angular/material' as mat;

.org-projects {
  display: flex;
  flex-direction: column;

  gap: 8px;
  margin-top: 16px;

  &__header {
    display: flex;
    align-items: center;
    margin-bottom: 8px;

    gap: 1rem;

    &-search {
      flex: 1 0 auto;

      @include mat.form-field-overrides(
        (
          outlined-outline-color: var(--mat-sys-outline-variant),
          outlined-container-shape: var(--mat-sys-corner-medium),
        )
      );
    }

    &-create-btn {
      margin-left: auto;
    }
  }
}
