.network-rule {
  display: flex;
  flex-direction: column;

  background-color: var(--mat-sys-surface);

  padding: 1rem 0.5rem;

  h4 {
    margin: 0;
  }

  &__ports {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    margin: 0;

    &-item span {
      display: flex;
      align-items: end;
      gap: 0.5rem;
    }
  }

  &__rules {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    margin: 0;
    &-item {
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
    }
  }
}
