<div class="product-list main-content">
  <div class="product-list__header">
    <spx-content-header titleOnly title="SSH Key"></spx-content-header>

    <div class="product-list__header-create-btn">
      <a matButton="filled" ariaLabel="Button to create a SSH Key" [routerLink]="['create']">
        <mat-icon>add</mat-icon>
        Create an SSH key
      </a>
    </div>
  </div>

  <spx-product-list-filter
    [refreshInterval]="refreshInterval()"
    (refreshIntervalChange)="lss.setValue(SSH_REFRESH_KEY, $event.toString())"
    (needReload)="reloadData()"
    (filter)="filterValue.set($event)"></spx-product-list-filter>

  <div class="product-list__table">
    @if (sshProduct.isLoading() || sshProduct.status() === 'error') {
      <div class="product-list__table-loading-shade">
        @if (sshProduct.isLoading()) {
          <mat-spinner></mat-spinner>
        }
        @if (sshProduct.status() === 'error') {
          <div class="product-list__table-error">Failed to retrieve products</div>
        }
      </div>
    }

    <spx-product-table-wrapper [dataSource]="dataSource()" [columns]="displayedColumns">

      <ng-container matColumnDef="date">
        <mat-header-cell *matHeaderCellDef> Creation Date </mat-header-cell>
        <mat-cell *matCellDef="let el">
          {{ el.data.ssh?.metadata?.creationTimestamp | date: 'short' }}
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="actions" stickyEnd>
        <mat-header-cell *matHeaderCellDef></mat-header-cell>
        <mat-cell *matCellDef="let el">
          <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Action menu">
            <mat-icon>more_horiz</mat-icon>
          </button>

          <mat-menu #menu="matMenu">
            @if (el.data.gitops !== 'true' && canProjectSSHWrite()) {
              <button mat-menu-item aria-label="Delete ssh button" (click)="deleteSSH(el.data)">
                <mat-icon>delete</mat-icon>
                Delete
              </button>
            }
          </mat-menu>
        </mat-cell>
      </ng-container>

      <tr class="d-flex mat-mdc-row" *matNoDataRow>
        <td class="mat-mdc-cell d-flex flex-grow align-items-center justify-content-center">
          No data for this product type
        </td>
        <td class="mat-mdc-cell mat-column-actions mat-column-actions--empty"></td>
      </tr>

      <mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
    </spx-product-table-wrapper>
  </div>
</div>
