<div class="product-list main-content">
  <div class="product-list__header">
    <spx-content-header titleOnly title="Disk"></spx-content-header>

    <div class="product-list__header-create-btn">
      <a matButton="filled" ariaLabel="Button to create a disk" [routerLink]="['create']">
        <mat-icon>add</mat-icon>
        Create a disk
      </a>
    </div>
  </div>

  <spx-product-list-filter
    [refreshInterval]="refreshInterval()"
    (refreshIntervalChange)="lss.setValue(DISK_REFRESH_KEY, $event.toString())"
    (needReload)="reloadData()"
    (filter)="filterValue.set($event)"
    [showCluster]="showClusterDisk()"
    (showClusterChange)="lss.setValue(DISK_SHOW_CLUSTER_KEY, $event.toString())"></spx-product-list-filter>

  <div class="product-list__table">
    @if (diskProduct.isLoading() || diskProduct.status() === 'error') {
      <div class="product-list__table-loading-shade">
        @if (diskProduct.isLoading()) {
          <mat-spinner></mat-spinner>
        }
        @if (diskProduct.status() === 'error') {
          <div class="product-list__table-error">Failed to retrieve products</div>
        }
      </div>
    }

    <spx-product-table-wrapper [dataSource]="dataSource()" [columns]="displayedColumns">
      <ng-container matColumnDef="size">
        <mat-header-cell *matHeaderCellDef> Size </mat-header-cell>
        <mat-cell *matCellDef="let el">
          {{ el.data?.pvc?.status?.capacity?.storage || el.data?.disk?.spec?.storage?.resources?.requests?.storage }}
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="type">
        <mat-header-cell *matHeaderCellDef> Type </mat-header-cell>
        <mat-cell *matCellDef="let el">
          {{ el.data?.disk?.spec?.storage?.volumeMode || el.data?.pvc?.spec?.volumeMode }}
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="mountStatus">
        <mat-header-cell *matHeaderCellDef> Mounted </mat-header-cell>
        <mat-cell *matCellDef="let el">
          @if (el.data?.mountStatus?.isMounted) {
            <mat-icon>check</mat-icon>
          }
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="progress">
        <mat-header-cell *matHeaderCellDef> Progress </mat-header-cell>
        <mat-cell *matCellDef="let el">
          <mat-chip-set aria-label="instance status">
            @if (!el.data.disk && !el.data.pvc) {
              <mat-chip class="status-chip--unknown" disabled="true">Unknown</mat-chip>
            } @else if (isInError(el)) {
              <mat-chip class="status-chip--error" disabled="true"> Error </mat-chip>
            } @else if (el.data?.disk?.status?.progress) {
              @let status = el.data?.disk?.status?.progress === '100.0%' ? 'completed' : 'pending';
              <mat-chip [class]="'status-chip--' + status.toLowerCase()" disabled="true">
                {{ el.data?.disk?.status?.progress === '100.0%' ? 'Ready' : el.data?.disk?.status?.progress }}
              </mat-chip>
            } @else {
              @let status = el.data?.pvc?.status?.phase === 'Bound' ? 'ready' : 'error';
              <mat-chip [class]="'status-chip--' + status.toLowerCase()" disabled="true">
                {{ status === 'ready' ? 'Ready' : 'Error' }}
              </mat-chip>
            }
          </mat-chip-set>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="actions" stickyEnd>
        <mat-header-cell *matHeaderCellDef class="mat-column-actions--double-btn"></mat-header-cell>
        <mat-cell *matCellDef="let el" class="mat-column-actions--double-btn">
          <a matIconButton [routerLink]="['details', el.data.codeAZ, el.data.eid]" aria-label="Open Details button">
            <mat-icon class="icon-accent">visibility</mat-icon>
          </a>
          <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Action menu">
            <mat-icon>more_horiz</mat-icon>
          </button>

          <mat-menu #menu="matMenu">
            @if (!isInError(el.data) && canProjectSnapshotWrite() && el.data.gitops !== 'true' && !el.isClusterDisk) {
              <button
                mat-menu-item
                aria-label="Edit disk button"
                [routerLink]="['update', el.data.codeAZ, el.data.eid]">
                <mat-icon>edit</mat-icon>
                Edit
              </button>
            }

            @if (
              canProjectSnapshotWrite() &&
              (el.data?.disk?.status?.progress === '100.0%' || el.data?.pvc?.status?.phase === 'Bound')
            ) {
              <button mat-menu-item aria-label="Create Snapshot button" (click)="createSnapshot(el.data)">
                <mat-icon>camera_alt</mat-icon>
                Create Snapshot
              </button>
            }

            @if (canProjectArgoCdRead() && el.data.gitops === 'true' && !el.isClusterDisk) {
              <mat-divider></mat-divider>
              <button mat-menu-item aria-label="See in ArgoCD" (click)="openArgoCD(el.data)">
                <mat-icon>open_in_new</mat-icon>
                See in ArgoCD
              </button>
            }

            @if (el.data.gitops !== 'true' && canProjectDiskWrite()) {
              <mat-divider></mat-divider>
              <button
                mat-menu-item
                aria-label="Delete disk button"
                (click)="deleteDisk(el.data)"
                [disabled]="el.data?.mountStatus?.isMounted || el.isClusterDisk">
                <mat-icon>delete</mat-icon>
                Delete
              </button>
            }
          </mat-menu>
        </mat-cell>
      </ng-container>

      <tr class="d-flex mat-mdc-row" *matNoDataRow>
        <td class="mat-mdc-cell d-flex flex-grow align-items-center justify-content-center">
          No data for this product type
        </td>
        <td class="mat-mdc-cell mat-column-actions mat-column-actions--empty mat-column-actions--double-btn"></td>
      </tr>

      <mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
    </spx-product-table-wrapper>
  </div>
</div>
