<div class="product-create main-content">
  <spx-content-header navBack titleOnly title="Update EIP"></spx-content-header>

  <div class="product-create__scrollable">
    <mat-stepper class="product-create__form-stepper" linear labelPosition="bottom" #stepper>
      <!-- STEP 1 - GENERAL INFORMATION -->
      <mat-step [stepControl]="firstFormGroup" errorMessage="Form invalid.">
        <form [formGroup]="firstFormGroup">
          <ng-template matStepLabel>General Information</ng-template>
          <ng-template matStepContent>
            <div class="d-flex flex-column gap-2">
              <spx-step-general [formGroup]="firstFormGroup" [showAz]="false"></spx-step-general>

              <div class="product-create__step-buttons product-create__step-buttons--justify-end">
                <button matButton="filled" matStepperNext [disabled]="firstFormGroup.invalid">Next</button>
              </div>
            </div>
          </ng-template>
        </form>
      </mat-step>

      <mat-step [stepControl]="secondFormGroup" errorMessage="Form invalid.">
        <form [formGroup]="secondFormGroup">
          <ng-template matStepLabel>Specifications</ng-template>
          <ng-template matStepContent>
            <div class="d-flex flex-column gap-2">
              <spx-eip-second-step
                [snatList]="initSnatList()"
                [dnatList]="initDnatList()"
                [formGroup]="secondFormGroup">
              </spx-eip-second-step>

              <div class="product-create__step-buttons">
                <button matButton="text" matStepperPrevious>Back</button>
                <button
                  matButton="filled"
                  [disabled]="firstFormGroup.invalid || secondFormGroup.invalid"
                  (click)="update()">
                  Update
                </button>
              </div>
            </div>
          </ng-template>
        </form>
      </mat-step>
    </mat-stepper>
  </div>
</div>
